<table class="table table-bordered">
  <thead>
    <tr>

      <th scope="col">Cliente</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="titulo">Nome</td>
      <td>{{cliente.nome}}</td>
    </tr>
    <tr>
      <td id="titulo">CNPJ/CPF</td>
      <td>{{cliente.cnpj}}</td>
    </tr>
    <tr>
      <td id="titulo">Endereço</td>
      <td>{{cliente.endereco}}</td>
    </tr>
    <tr>
      <td id="titulo">E-mail</td>
      <td>{{cliente.email}}</td>
    </tr>
    <tr>
      <td id="titulo">Telefone</td>
      <td>{{cliente.telefone}}</td>
    </tr>
  </tbody>
</table>
<style>
  #titulo{
    width: 15%;
    font-weight: bold;
  }
</style>

