<div id='table' name="table">
    <img id="logo" src="https://www.imagemhost.com.br/images/2021/01/11/refra.png" alt="refra.png" border="0" />
    <table id="teste">
        <tbody>
            <tr>
                <th scope="row" colspan="1">Data</th>
                <td colspan="3">{{orcamento.data}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">nºOS</th>
                <td colspan="3">{{orcamento.numeroOS}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">Cliente</th>
                <td colspan="3">{{orcamento.cliente.nome}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">Equipamento</th>
                <td colspan="3">{{orcamento.equipamento}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">Setor</th>
                <td colspan="3">{{orcamento.setor}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">C. Custo</th>
                <td colspan="3">{{orcamento.cCusto}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">Cód. C. Custo</th>
                <td colspan="3">{{orcamento.codCcusto}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">Solicitante</th>
                <td colspan="3">{{orcamento.solicitante}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="1">Ref. Cliente</th>
                <td colspan="3">{{orcamento.refCliente}}</td>
            </tr>
            <tr>
                <th scope="row" colspan="4" style="text-align:center;">Serviços</th>
            </tr>
            <tr id="cabe">
                <th scope="row" colspan="1" id="totalhoras"style="text-align:center;">Executante</th>
                <th scope="row" colspan="2" style="text-align:center;">Descrição dos Serviços</th>
                <th scope="row" colspan="1" id="valorserv"style="text-align:center;">Total de horas</th>
            
            </tr>
            {{#each servicos}}
            <tr>
                <td colspan="1"id="totalhoras"></td>
                <td colspan="2" style="text-align:justify;"><div style="word-wrap: break-word;">{{descricao}}</div></td>
                <td colspan="1" style="text-align:center;" id="valorserv"></td>
            
            </tr>
            {{/each}}
            {{#each linhas}}
            <tr id="linhasextraservico">
                <td colspan="1"id="totalhoras">{{text}}</td>
                <td colspan="2" style="text-align:left;">.</td>
                <td colspan="1" style="text-align:center;" id="valorserv"></td>
            </tr>
            {{/each}}
            <tr id="material">
                <th scope="row" colspan="1" id="qtd" style="text-align:center;">QTD</th>
                <th scope="row" colspan="2" style="text-align:center;">Material</th>
                <th scope="row" colspan="1" id="valor" style="text-align:center;">Valor(R$)</th>
            </tr>
            {{#each materiais}}
            <tr>
                <td style="text-align:center;" id="qtd"></td>
                <td colspan="2">{{nome}}</td>
                <td id="valor" style="text-align:center;"></td>
            </tr>
            {{/each}}
            {{#each linhasMat}}
             <tr>
                <td style="text-align:center;" id="qtd">{{text}}</td>
                <td colspan="2">.</td>
                <td id="valor" style="text-align:center;"></td>
            </tr>
            {{/each}}
            <tr>

                <td colspan="2"id="info">Caso tenha alguma dúvida sobre este orçamento, use as seguintes informações
                    para contato:</td>
                <th colspan="1"rowspan="2"style="text-align:center;border-rigth: 2px;">Total</th>
                <td colspan="1"rowspan="2"style="text-align:center;"></td>

            </tr>
            <tr>
                <td colspan="2"id="info">Renato de Paula – (43) 99129-1264 / (43) 3156-1054</td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    table {
        border-collapse: collapse;
       
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    td {
        
        font-size: 8px;
        padding: 1px;
    }

    tr {
        
      
    }

    th {
        font-size: 9px;
        padding: 1px;
    }

    #qtd {
        width: 20%;
    }

    #valor {
        width: 20%;
    }

    #totalhoras {
        width: 20%;
    }

    #valorserv {
        width: 20%;
    }

    #table {
        margin: 2mm;
    }

    #logo {
        height: 15m;
        width: 100%;
    }

    #info {
        width: 60%;
        font-size: 7px;
        text-align: center;
    }
    #teste{
        table-layout: fixed;
    }
    #linhasextraservico{
        padding: 15px;
    }
    #cabe{
        background-color:#3e5190;
        color: ivory;
    }
    #material{
        background-color:#3e5190;
        color: ivory;
    }
}
</style>